@tailwind base;
@tailwind components;
@tailwind utilities;

/* Standard Dark Theme */
body {
  background-color: #111827;
  color: white;
}

/* We will add the fancy controls back LATER. First, we fix the build. */